h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    text-align: center;
}

.TheCalculator {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1.5px solid #262626;
    background: #FFFFFF;
    width: max-content;
    height: max-content;
    margin: auto;
}

#TheDisplay {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;/* or 31px */
    color: #262626;
    text-align: right;
    box-sizing: border-box;
    width: 336px;
    font-size: 24px;
    padding: 16px;
    height: 63px;
    border: 1px solid #262626;
    border-radius: 4px;
}


.TheKeys  {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    order: 4;
    padding: 0px;
    gap: 16px;
    width: 336px;
    height: 384px;
}

.button.operations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 72px;
    height: 64px;
    background: #A65E9C;
    border: 1px solid #262626;
    border-radius: 4px;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;/* or 31px */
    color: #262626;
    cursor: pointer;
}

.button.clear {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 72px;
    height: 64px;
    background: #A65E9C;
    border: 1px solid #262626;
    border-radius: 4px;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;/* or 31px */
    color: #262626;
    cursor: pointer;
}

.button.de {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 72px;
    height: 64px;
    background: #A65E9C;
    border: 1px solid #262626;
    border-radius: 4px;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;/* or 31px */
    color: #262626;
    cursor: pointer;
}

.button.percentage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 72px;
    height: 64px;
    background: #A65E9C;
    border: 1px solid #262626;
    border-radius: 4px;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;/* or 31px */
    color: #262626;
    cursor: pointer;
}

.button.numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 72px;
    height: 64px;
    background: #F2D869;
    border: 1px solid #262626;
    border-radius: 4px;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;/* or 31px */
    color: #262626;
    cursor: pointer;
}

.button.solution {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 72px;
    height: 64px;
    background: #F37250;
    border: 1px solid #262626;
    border-radius: 4px;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;/* or 31px */
    color: #262626;
    cursor: pointer;
}

.button.operations:hover {
    background: #915088;
    transition-duration: 0.5s;
    transition: ease-in-out;
}

button.percentage:hover {
    background: #915088;
    transition-duration: 0.5s;
    transition: ease-in-out;
}

.button.clear:hover {
    background: #915088;
    transition-duration: 0.5s;
    transition: ease-in-out;
}

.button.de:hover {
    background: #915088;
    transition-duration: 0.5s;
    transition: ease-in-out;
}

.button.numbers:hover {
    background: #EFCE43;
    transition-duration: 0.2s;
}

.button.solution:hover {
    background: #F1562D;
    transition-duration: 0.2s;
}

.button.operations:active {
    border-width: 3px;
}

.button.percentage:active {
    border-width: 3px;
}

.button.clear:active {
    border-width: 3px;
}

.button.de:active {
    border-width: 3px;
}

.button.numbers:active {
    border-width: 3px;
}

.button.solution:active {
    border-width: 3px;
}

